<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Synapse 2020 | Cultural Fest | DA-IICT, Gandhinagar</title>
  </head>
  <body>
    <h1>CheckOUT</h1>
    <form action="/payment" method="POST">
      <button type="submit">Pay Now</button>
    </form>
  </body>
</html>
