<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Synapse 2020 | Cultural Fest | DA-IICT, Gandhinagar</title>
    <!--Import materialize.css-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="./css/register-info.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <img src="./images/logo.png" alt="" height="100px" class="mt-3 mb-3" />
      <h2>Synapse 2020</h2>
      <h4>Participating in Events</h4>
      <div class="line1"></div>

      <div class="card1 ">
        <div class="head">
          Synapse 100 Pass
        </div>
        <div class="description">
          This pass can be purchased individually for a humble amount of Rs 100.
          The holder of this pass can participate in any or all​ of the
          following events
        </div>

        <div class="list">
          <ul style="text-align: left;">
            <li>1. Footloose (Solo)​ : Western Dance Event.</li>
            <li>2. Showdown: Dance faceoff</li>
            <li>3. Naach (Solo): ​ Eastern Dance</li>
            <li>4. Raaga (Solo):​ Eastern Music</li>
            <li>5. Rhapsody (Solo):​ Western Music</li>
            <li>6. Writer's arena(Shailee):​ Essay writing competition</li>
            <li>
              7. Poetry Slam (Shailee):​ Poetry performances by artists from
              Spill poetry followed by
            </li>
            <li>
              a slam poetry competition judged by the artists themselves.
            </li>
            <li>
              8. Literature Quiz (Shailee):​ Quiz on books, authors and
              everything else in this genre
            </li>
            <li>9. Spell Bee (Shailee):​ Spelling competition</li>
            <li>
              10. Headrush:​ Quizzing Competition with multiple quizzes on
              various topics such as -MELA, General, B
            </li>
            usiness-Technology and many more.
            <li>
              11. Crazy Math:​ Contest with simple questions for everyone keen
              about mathematics.
            </li>
            <li>
              12. Googlock Holmes:​ Solve tricky riddles using search engines
            </li>
            <li>
              13. Conceive:​ Photography event for everyone interested in this
              art
            </li>
            <li>14. Encore: ​ Freestyle Rap Contest</li>
            <li>15. DA Rush:​ Treasure hunt within Gandhinagar</li>
            <li>16. Comique (Masquerade):​ Stand-up competition</li>
          </ul>
        </div>
        <a href="/register/synapse100pass">
          <div class="row mb-4 d-flex justify-content-center pl-4 pr-4">
            <input
              type="submit"
              value="Register Online"
              class="btn-submit col-12 col-md-6"
            />
          </div>
        </a>
      </div>

      <div class="line2"></div>

      <div class="card3 ">
        <div class="head">
          Battledrone
        </div>
        <div class="description"></div>

        <div class="list">
          <ul>
            <li>Clash Royale</li>
            <ul>
              <li>Solo - ₹20</li>
              <li>Duo - ₹40</li>
            </ul>

            <li>Need for Speed - Most Wanted</li>
            <ul>
              <li>Solo - ₹30</li>
            </ul>

            <li>PUBG</li>
            <ul>
              <li>Solo - ₹30</li>
              <li>Squad - ₹100</li>
            </ul>
            <li>Counter Strike - Global Offensive</li>
            <ul>
              <li>5v5 - ₹200</li>
              <li>1v1 - ₹40</li>
            </ul>
            <li>Counter Strike 1.6</li>
            <ul>
              <li>5v5 - ₹100</li>
            </ul>
            <li>FIFA 18</li>
            <ul>
              <li>Solo - ₹40</li>
            </ul>
          </ul>
        </div>
        <a href="/register/battledrone">
          <div class="row mb-4 d-flex justify-content-center pl-4 pr-4">
            <input
              type="submit"
              value="Register Online"
              class="btn-submit col-12 col-md-6"
            />
          </div>
        </a>
      </div>

      <div class="line2"></div>

      <div class="card2 ">
        <div class="head">
          DJ Wars
        </div>
        <div class="description">
          War of DJs<br />
          Registration Fees 200
        </div>

        <div class="list"></div>

        <a href="/register/djwars">
          <div class="row mb-4 d-flex justify-content-center pl-4 pr-4">
            <input
              type="submit"
              value="Register Online"
              class="btn-submit col-12 col-md-6"
            />
          </div>
        </a>
      </div>

      <div class="line2"></div>

      <div class="card4 ">
        <div class="head">
          Group Events
        </div>
        <div class="description">
          Participants might choose to register as a group for any of the
          following genre of events. Note that if a group has registered for a
          particular event, the group registration valid only for that
          particular event and category. If a member of the group wishes to
          participate in a different category of same event (eg. solo/duo),
          seperate charges would be applied.
        </div>

        <div class="list">
          <h4>1. Rampage (Rs 1000 per group)</h4>
          <p>
            Team fashion event. Budding designers express their creative
            independence and boldness as they illustrate their stories while the
            most glamorous models walk to the pumping beats.
          </p>

          <h4>2. Masquerade (Drama) (Rs 200)</h4>
          <p>
            All members of the group will be able to participate in any one​ of
            the following events.
          </p>

          <ul>
            <li>Naivete (Street Play)</li>
            <li>Proscenium (Stage Play)</li>
            <li>Felicity (Mime)</li>
          </ul>
          <p>
            Note that members of this group can participate in other listed
            events with additional registration fees.
            <br />
            Apart from this, all members of the group will be able to
            participate in any or all of the following events:
          </p>
          <ul>
            <li>Comique(Stand-up)</li>
          </ul>

          <h4>3. Footloose (Western Dance)</h4>
          <p>
            The following are the categories of Footloose under which group
            participation is allowed
          </p>

          <ul>
            <li>Solo (Included in Synapse100, no extra charge required)</li>
            <li>Duo (Rs 200/-)</li>
            <li>Group (Rs 300/-)</li>
          </ul>

          <h4>4. Naach (Eastern/Classical Dance)</h4>
          <p>
            The following are the categories of Naach under which group
            participation is allowed
          </p>

          <ul>
            <li>Solo (Included in Synapse100, no extra charge required)</li>
            <li>Duo (Rs 200/-)</li>
            <li>Group (Rs 300/-)</li>
          </ul>

          <h4>5. Raaga (Easten/Classical Music)</h4>
          <p>
            The following are the categories of Raaga under which group
            participation is allowed
          </p>

          <ul>
            <li>Solo (Included in Synapse100, no extra charge required)</li>
            <li>Duo (Rs 200/-)</li>
            <li>Group (Rs 300/-)</li>
          </ul>

          <h4>6. Battle of Bands (Western Music)</h4>
          <p>
            The following are the categories of Battle of Bands under which
            group participation is allowed ( NO Solo registration allowed ).
          </p>

          <ul>
            <li>Group (Rs 300/-)</li>
          </ul>
        </div>

        <a href="/register/group-events">
          <div class="row mb-4 d-flex justify-content-center pl-4 pr-4">
            <input
              type="submit"
              value="Register Online"
              class="btn-submit col-12 col-md-6"
            />
          </div>
        </a>
      </div>
      <a href="https://www.thecollegefever.com/events/synapse-4mVU8wWWWu">
        <div class="row mb-4 d-flex justify-content-center pl-4 pr-4">
          <input
            type="submit"
            value="Register with Town Script"
            class="btn-submit col-12 col-md-6"
          />
        </div>
      </a>
    </div>
  </body>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-2.1.1.min.js"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</html>
